*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "volkhov",
    
}
html{
    scroll-behavior: smooth;
}
header{
    backdrop-filter: blur(10px);
    background-color: rgba(135, 207, 235, 0.562);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.logo h1{
    font-size: 30px;
   font-family: "volkhov";
   color: white;
}
.logo span{
    color: lightskyblue;
}
.nav-link ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.nav-link ul li a{
    margin-right: 39px;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "volkhov";
  
}
.nav-link ul li a:hover{
color: skyblue;
text-decoration: underline;
}


.home{
    width: 100%;
    height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;
   position: relative;
   background-color: white;
}
/* .home::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
}  */

.img img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
object-fit: cover;

object-position: center;
}
.hero h1{
    font-size: 50px;
    color: skyblue;
    font-family: cursive;
}
.hero p{
    color: skyblue;
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hero a{
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin-left: 280px;
}.hero a:hover{
    color: black;
    background-color: skyblue;
    transition-duration: 300ms;
}
.DALEM{
    background-color: skyblue;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;

}
.DALEM img{
    height: 600px;
    border-radius: 90px;  
    
}
.DALEM h1{
    color: white;
    font-family: cursive;
    margin-top: 90px;
}
.DALEM p{
    color: white;
    margin-top: 20px;
    font-family: cursive;
    margin-top: 20px;
}
.PARA{
    margin-bottom: 400px;
    margin-left: 150px;
    
}
.tulisan h1{
    color: skyblue;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}
.container10{
    height: 800px;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    object-position: center;
    align-items: center;
}
.container{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
     display: inline-block;
}
.container img{
  width:300PX;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.container h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    color: orange;
    font-family: cursive;
}
.container p{
    text-align: center ;
    padding: 10px;
}
.container2{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    position: relative;
  display: inline-block;
}
.container2 img{
  width:300PX;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.container2 h1{
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
    color: black;
}
.container2 p{
    text-align: center ;
    padding: 10px;
}
.container3{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    position: relative;
  display: inline-block;
}
.container3 img{
  width:300PX;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.container3 h1{
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    margin-top: 20px;
    color: red;
}
.container3 p{
    text-align: center;
    padding: 10px;
}




footer{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer p{
    align-items: center;
}